/*
© 2019-2020 Все права защищены
*/
html, body{
    min-height: 100%;
    font-family: Arial, sans-serif;
    font-size: 15px;
    text-align: auto;
    background: #fff url(/source/photos/img0.jpg) no-repeat;
    background-attachment: fixed;
    color: #000;
    background-repeat: repeat-x;
    background-size: 100%;
    }
    .breadcrumbs{
    tist-style: none;
    display: inline-block;
    font-size: 0;
    }
    .breadcrumbs li{
    display: inline-block;
    }
    .breadcrumbs a{
    width: 150px;
    line-height: 15px;
    display: block;
    position: relative;
    color: #fff;
    font-size: 15px;
    padding-left: 10px;
    text-decoration: none;
    -webkit-transition: ALL 0.5s;
    transition: ALL 0.5s;
    background: auto;
    }
    .breadcrumbs .test:hover,
    .breadcrumbs .test.active{
    background: auto;
    }
    #container{
        background: #808080;
        margin: 5px auto;
        width: 100%;
        height: 1030px;
        }

        #header{              
        background: #000;  
        height: 30px;
        width: 100%;
        text-align: left;
        }
        #block1{           
        background: #f5f5f5;  
        float: left; 
        width: 25%;
        height: 1000px;
        text-align: center;
        }
        #menu{                  
        background: #08c;    
        float: left;
        width: 50%;
        height: 1000px;
        text-align: center;
        }
        #content{             
        background: #ed812b;  /*цвет content*/
        float: left; 
        width: 25%; /*ширина*/
        height: 1000px; /*высота*/
        text-align: center; /*расположение текста*/
        border-radius: 10px 10px 10px 10px;
        }
